:root {
  --primary-background-color: rgb(219, 245, 245);
  --secondary-background-color: rgb(187, 231, 230);
  --heading-color: rgb(97, 97, 97);
  --body-color: black;
  --tertiary-color: rgb(126, 64, 64);
  --heading-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-background-color);
  font-family: var(--body-font);
}
h1,
h2,
h3,h4 {
  font-family: var(--heading-font);
}
h1 {
  color: var(--heading-color);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 64px;
}
h4{
  font: size 48px;
}
p {
  color: var(--body-color);
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding: 100px 20px;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.8;
}
.btn {
  color: var(--primary-background-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.project-description {
  padding: 80px 30px;
}

.container-section h1 {
  font-size: 64px;
  line-height: 65px;
}
.container-section h2 {
  font-size: 18px;
  font-family: var(--body-font);
}

.container-section {
  padding: 100px 20px;
}
.container-content {
  margin: 30px;
}
.container-content h3 {
  font-size: 24px;
  font-family: var(--body-font);
  line-height: 1.5;
  margin: 20px 0 0;
}
.container-content p {
  font-size: 14px;
}
.logo {
  max-height: 90px;
}
nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: var(--body-color);
  transition: all 100ms ease-in-out;
}
nav li.active a,
nav a:hover {
  color: var(--tertiary-color);
}
footer {
  margin: 50px 0;
}
footer .contact-box{
background-color: var(--secondary-background-color);
padding: 30px 120px;
border-radius: 10px;
}
footer .contact-box p{
  margin:0;
}
footer .email-link {
  text-decoration: none;
  color: var(--body-color);
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--tertiary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--body-color);
  padding: 10px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--tertiary-color);

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 45px;
    line-height: 1.5;
  }
  h2 {
    font-size: 30px;
  }
  h4{
    font-size: 20px;
  }
  .hero {
    padding: 50px;
  }
  .container-section {
    text-align: center;
    padding: 0;
  }
  .logo {
    max-height: 45px;
  }
  nav a {
    font-size: 15px;
  }
}
