:root {
  --primary-background-color: rgb(219, 245, 245);
  --secondary-background-color: rgb(187, 231, 230);
  --heading-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-background-color);
  font-family: var(--body-font);
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}
h1 {
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 64px;
}
p {
  color: black;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding: 100px 20px;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.8;
}
.btn {
  color: var(--primary-background-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.project-description {
  padding: 80px 30px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 65px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--body-font);
}

.about-section {
  padding: 100px 20px;
}
.about-section-content {
  margin: 30px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 45px;
    line-height: 1.5;
  }
  h2 {
    font-size: 30px;
  }
  .hero {
    padding: 50px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
